<h1>Listing transactions</h1>

<table>
  <thead>
    <tr>
      <th>Attendee</th>
      <th>Drink</th>
      <th>Price</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>

        <td>
        <% if transaction.user %>
          <%= transaction.user.name %>
        <% else %>
          <%= puts "unkown user"%>
        <% end %>
        </td>
        <% if transaction %>
          <td><%= transaction.product %></td>
          <% unless transaction.price.nil? %>
            <td>$<%= transaction.price / 100 %>.00</td>
          <% end %>
        <% else%>
          <td>Registered</td>
        <% end %>
      </tr>
    <% end %>
          <td>$<%= @totalprice / 100 %>.00</td>
          <td><%= @totalproduct %></td>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_transaction_path %>
