<h1>Listing transactions</h1>

<table>
  <thead>
    <tr>
      <th>Attendee</th>
      <th>Drink</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>

        <td>
        <% if transaction.user %>
          <%= transaction.user.name %>
        <% else %>
          <%= puts "unkown user"%>
        <% end %>
        </td>
        <td><%= transaction.product %></td>
        <td><%= transaction.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_transaction_path %>


